{% if round_players %}
<div class="row px-3 justify-content-center">
  <div class="col-md-12 py-5">
    <h3>Current Round</h3>
  </div>
  <div class="table-responsive">
    <table class="table" data-wow-delay=".4s">
      <thead class="thead-inverse">
      <tr>
        <th>#</th>
        <th>UserName</th>
        <th>Bet Amount</th>
        <th>Cards</th>
        <th>Min/Max Card Count</th>
        <th>Action</th>
        <th>Status</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
        <tr>
          <td>0</td>
          <td>Dealer</td>
          <td>Unlimited</td>
          <td>{{active_round.dealer_cards}}</td>
          <td>{{active_round.dealer_count}}</td>
          <td></td>
          <td>{{active_round.dealer_status}}</td>
        </tr>
      {% for round_player in round_players %}
        <tr>
          <td>{{round_player.player_order}}</td>
          <td>{{round_player.player.username}}</td>
          <td>{{round_player.player_bet}}</td>
          <td>{{round_player.player_cards}}</td>
          <td>{{round_player.player_count}}/ {{round_player.player_max_count}}</td>
          <td>
          {% if round_player.player_status == 0 %}
            <a href="#" order="{{ round_player.player_order }}" table="{{active_round.table.id}}" class="btn btn-primary disabled player-hit">Hit</a>
            <a href="#" order="{{ round_player.player_order }}" table="{{active_round.table.id}}" class="btn btn-warning disabled player-stay">Stay</a>
          {% elif round_player.player_status == 1 %}
            <a href="#" order="{{ round_player.player_order }}" table="{{active_round.table.id}}" class="btn btn-primary player-hit">Hit</a>
            <a href="#" order="{{ round_player.player_order }}" table="{{active_round.table.id}}" class="btn btn-warning player-stay">Stay</a>
          {% else %}
            <a href="#" class="btn btn-danger">Busted</a>
          {% endif %}
          </td>
          <td>{{round_player.player_status}}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endif %}