{% extends 'index.html' %}
{% block content %}
  <h1> You Have Joined Table - {{table.id}} !</h1>
  <div class="row">
    <div class="col-md-12">
      <div class="card w-100">
        <div class="card-body">
          <h5 class="card-title">Min Bet - {{table.min_bet}}</h5>
          <p class="card-text">Current Player Count - {{table.player_count}}/6</p>
        </div>
      </div>
    </div>
  </div>
  <div class="player-status-wrapper">
    {% include 'current_players.html' %}
  </div>
  <div class="current-round-wrapper">
    {% include 'round_players.html' %}
  </div>
{% endblock %}